<div class="demo demo9">
  <h3 class="heading"><span>家計簿アプリ</span></div>
</div>

<div class = "home_text ">これは家計簿のアプリです。<br>ページ上部から項目を選んで記入してください</div>
<h2 class = "home_title">今月の収支</h2>
<section class = "home_section">
    <h3>収入：<%= @this_month_incomes.all.sum(:price)%>円</h3>
    <%= @this_month_incomes&.each do |income|%>
      <section class = "row incomes_row">
          <div class = "col-sm-10">
              <div class = "row">
                  <div class = "col-sm-3 incomes_item">カテゴリ：<%= income.category%></div>
                  <div class = "col-sm-3 incomes_item">金額：<%= income.price%></div>
                  <div class = "col-sm-3 incomes_item">日付：<%= income.date%></div>
                  <div class = "col-sm-3 incomes_item">メモ：<%= income.memo%></div>
              </div>
          </div>
          <div class = "col-sm-2">
              <%= link_to "編集", edit_income_path(income), class:"nav-link" %>    
          </div>
      </section>
  <% end %>
</section>

<section class = "home_section">
    <h3>支出：<%= @this_month_expenses.all.sum(:price)%>円</h3>
    <%= @this_month_expenses&.each do |expense|%>
      <section class = "row expenses_row">
          <div class = "col-sm-10">
              <div class = "row">
                  <div class = "col-sm-3 expenses_item">カテゴリ：<%= expense.category%></div>
                  <div class = "col-sm-3 expenses_item">金額：<%= expense.price%></div>
                  <div class = "col-sm-3 expenses_item">日付：<%= expense.date%></div>
                  <div class = "col-sm-3 expenses_item">メモ：<%= expense.memo%></div>
              </div>
          </div>
          <div class = "col-sm-2">
              <%= link_to "編集", edit_expense_path(expense), class:"nav-link" %>    
          </div>
      </section>
  <% end %>
</section>