<%= form_tag income_path, method: :put do %>
  <% @incomes.each do |income| %>
    <%= fields_for "incomes[]", income do |fi| %>
        <section class = "row incomes_row">
            <div class="incomes_item col-sm-3">
            <%= fi.label :カテゴリ %>
            <%= fi.select :category, [["給与", "給与"], ["配当", "配当"], ["おこづかい", "おこづかい"], ["その他", "その他"]] %>
            </div>
            
            <div class="incomes_item col-sm-3">
            <%= fi.label :金額 %>
            <%= fi.text_field :price %>
            </div>

            <div class="incomes_item col-sm-3">
            <%= fi.label :日付 %>
            <%= fi.date_select :date, {include_blank: true, use_month_numbers: true} %>
            </div>

            <div class="incomes_item col-sm-3">
            <%= fi.label :メモ %>
            <%= fi.text_field :memo %>
            </div>
            </br>
      </section>
      <br />
    <% end %>
  <% end %>
  <%= submit_tag %>
<% end %>