<%= flash[:success] %>
<div>
<%= form_tag(root_path, method: "get") do %>
<%= label_tag :name, "カテゴリを選択してください" %>
<%= select_tag :category, options_for_select([["給与", "給与"], ["配当", "配当"], ["おこづかい", "おこづかい"], ["その他", "その他"]] ), include_blank: true %>
<%= submit_tag "検索" %>
<% end %>
</div>

<% @incomes.each do |income| %>
    <section class = "row incomes_row">
        <div class = "col-sm-10">
            <div class = "row">
                <div class = "col-sm-3 incomes_item">カテゴリ：<%= income.category%></div>
                <div class = "col-sm-3 incomes_item">金額：<%= income.price%></div>
                <div class = "col-sm-3 incomes_item">日付：<%= income.date%></div>
                <div class = "col-sm-3 incomes_item">メモ：<%= income.memo%></div>
            </div>
        </div>
        <div class = "col-sm-2">
            <%= link_to "編集", edit_income_path(income), class:"nav-link" %>    
        </div>
    </section>
<% end %>