<%= pie_chart Income.group(:category).count %>
<% @incomes.each do |income| %>
    <section class = "row incomes_row">
        <div class = "col-sm-3 ,incomes_item">カテゴリ：<%= income.category%></div>
        <div class = "col-sm-3 incomes_item">金額：<%= income.price%></div>
        <div class = "col-sm-3 incomes_item">日付：<%= income.date%></div>
        <div class = "col-sm-3 incomes_item">メモ：<%= income.memo%></div>
    </section>
<% end %>

