  <%= form_for(@income) do |f| %>
      <section class = "row incomes_row">
        <div class="incomes_item col-sm-3">
          <%= f.label :カテゴリ %>
          <%= f.select :category, [["給与", "給与"], ["配当", "配当"], ["おこづかい", "おこづかい"], ["その他", "その他"]] %>
        </div>
        
        <div class="incomes_item col-sm-3">
          <%= f.label :金額 %>
          <%= f.text_field :price %>
        </div>

        <div class="incomes_item col-sm-3">
          <%= f.label :日付 %>
          <%= f.date_select :date, {include_blank: true, use_month_numbers: true} %>
        </div>

        <div class="incomes_item col-sm-3">
          <%= f.label :メモ %>
          <%= f.text_field :memo %>
        </div>
        </br>
      </section>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>