<%= form_with model: @incomes, url: incomes_path, local: true do |form| %>
  <% @incomes.collection.each do |income|%>
    <%= fields_for 'incomes[]', income do |field| %>

      <section class = "row incomes_row">
        <div class="incomes_item col-sm-3">
          <%= field.label :カテゴリ %>
          <%= field.text_field :category, class:"form" %>
        </div>
        
        <div class="incomes_item col-sm-3">
          <%= field.label :金額 %>
          <%= field.text_field :price %>
        </div>

        <div class="incomes_item col-sm-3">
          <%= field.label :日付 %>
          <%= field.text_field :date %>
        </div>

        <div class="incomes_item col-sm-3">
          <%= field.label :メモ %>
          <%= field.text_field :memo %>
        </div>
        </br>
      </section>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>