<%= pie_chart Expense.group(:category).count %>
<% @expenses.each do |expense| %>
    <section class = "row expenses_row">
        <div class = "col-sm-10">
            <div class = "row">
                <div class = "col-sm-3 expenses_item">カテゴリ：<%= expense.category%></div>
                <div class = "col-sm-3 expenses_item">金額：<%= expense.price%></div>
                <div class = "col-sm-3 expenses_item">日付：<%= expense.date%></div>
                <div class = "col-sm-3 expenses_item">メモ：<%= expense.memo%></div>
            </div>
        </div>
        <div class = "col-sm-2">
            <%= link_to "編集", edit_expense_path(expense), class:"nav-link" %>    
        </div>
    </section>
<% end %>



