  <%= form_for(@expense) do |f| %>
      <section class = "row expenses_row">
        <div class="expenses_item col-sm-3">
          <%= f.label :カテゴリ %>
          <%= f.select :category, [
            ["家賃", "家賃"], ["水道光熱費", "水道光熱費"], ["食費", "食費"], ["交際費", "交際費"],
            ["娯楽", "娯楽"],["衣類", "衣類"],["通信費", "通信費"],["交通費", "交通費"],["保険料", "保険料"],["その他", "その他"]
          ] %>
        </div>
        
        <div class="expenses_item col-sm-3">
          <%= f.label :金額 %>
          <%= f.text_field :price %>
        </div>

        <div class="expenses_item col-sm-3">
          <%= f.label :日付 %>
          <%= f.date_select :date, {include_blank: true, use_month_numbers: true} %>
        </div>

        <div class="expenses_item col-sm-3">
          <%= f.label :メモ %>
          <%= f.text_field :memo %>
        </div>
        </br>
      </section>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%
=begin
%>
<% if @expense.errors.any? %>
  <div class="alert alert-danger">入力内容に不備が存在します。全ての項目を記入してください</div>
<% else %>
  <div class="alert alert-info">項目を記入してください</div>
<% end %>
<%
=end
%>