<header>
<nav class="navbar navbar-expand-md  navbar-light bg-light conteiner">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse row" id="bs-navi">
      
    <ul class="navbar-nav ">
        <li class="nav-item col-sm-3"><%= link_to "ホーム", root_path, class:"nav-link" %></li>
        <li class="nav-item col-sm-3"><%= link_to "収入を記録", new_income_path, class:"nav-link" %></li>
        <li class="nav-item col-sm-3"><%= link_to "支出を記録", new_expense_path, class:"nav-link" %></li>
        <li class="nav-item col-sm-3"><%= link_to "収入を確認", incomes_path, class:"nav-link" %></li>
        <li class="nav-item col-sm-3"><%= link_to "支出を確認", expenses_path, class:"nav-link" %></li>
    </ul>
  </div>
</nav>
</header>

<%
=begin
%>
<li class="nav-item"><%= link_to "収入を編集", edit_income_path(@income), class:"nav-link" %></li>
<%
=end
%>